.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 48px;
  &.menu-is-open {
    margin-left: 320px;
  }
}

@media (max-width: 992px) {
  .dashboard {
    margin-right: 0;
    &.menu-is-open {
      margin-right: 0;
    }
  }
}
