<div class="dashboard-container">
  <div class="container">
    <h1 class="text-center">Disposal</h1>

    <mat-card class="w-50" style="text-align: center;">
      <mat-card-header>
        <mat-card-title>Upload Waste</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/cam_image.png" alt="img">
      <mat-card-actions>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-raised-button color="primary" (click)="fileInput.click()">Select File</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
